.player-controls__button_play::before {
     content: '';
     width: 0;
     height: 0;
     border: 15px solid transparent;
     border-left: 20px solid green;
     position: absolute;
     left: 10px;
     top: 50%;
     transform: translateY(-50%);
 }