.player-controls__button_stop::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}